.footer {
    background: var(--ls-gray);
}

.footer-list{
    margin: 0;
}

.footer-container{
    padding: 1rem 1rem 1rem 1rem;
}

.list-inline-item {
    font-weight: bold;
    color: var(--ls-dark-gray);
    font-size: 0.8rem;
}