<footer class="border-top footer text-muted fixed-bottom">
    <div class="footer-container">
        <ul class="list-inline footer-list">
             <li class="list-inline-item">Terms of use</li>
             <li class="list-inline-item">Privacy policy</li>
        </ul>
    </div>
</footer>