.nav-item a {
    color: var(--ls-dark-gray) !important;
    font-weight: bold;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    font-size: 0.8rem;
}

    .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-dark {
    background-color: var(--ls-gray) !important;
}