@import "./variables.scss";

.dropdown-popup {
  ul {
    .k-state-selected {
      background-color: $lsBlue !important;
      color: white !important;
    }
    &:hover {
      .k-state-selected {
        background-color: transparent !important;
        color: rgba(0, 0, 0, 0.87) !important;
        &:hover {
          background-color: $lsBlue !important;
          color: white !important;
        }
      }
    }
  }
}