/* From LS 2.0 */
$fontFamily: 'Roboto', 'Open Sans', Arial, sans-serif;
$CSS_TABLE_FONT_SIZE: 14px;
$font-size-grid-header: 14px;
$border-color-grid-row: #F1F1F1;
$table-color-grey: #F0F0F0;
$table-color-light-grey: #FAFAFA;
$font-color: #525252;
$font-color-header: #525252;
$font-color-title: #3a3a3a;
$row-highlight-color: #F0F8FB;

/* LS 2.4 */
$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-size-title: 28px;
// $primary: #A9CB42;
$primary: #96c754;
// $success: #96c754;
$success: #A9CB42;
// $secondary: #D9585C;
$secondary: #ff6060;
// $error: #D9585C;
$error: #ff6060;
$base-text: #525252;
$base-text: #444;
$table-header-text: #3a3a3a;
$lsBlue: #3A88D7;
$lsYellow: #E8AA25;
$lsGreen: #4CAF50;
$lsTextGrey: #C0C0C0;
$lsTextDarkGrey: #616161;
$lsTextRed: #ff6060;
$lsLightGrey: #F0F0F0;
$lsSliderGrey: #FAFAFA;
$lsToothGrey: #e8e8e8;
$lsLineGrey: #eee;
$lsBlankGrey: #E0E0E0;
$lsPurple: #7F69FF;
$gray: #7f7f7f;
$dark-gray: #4e4e4e;
$background-gray: #adadad;
$accentGrey: #F2F2F2;
$requiredRed: #F74656;

$toothColorCrown: #3A88D7;
$toothColorSplint: #14ABA9;
$toothColorBridge: #96C754;
$toothColorRemovable: #F39C34;
$toothColorImplant: #AF81D3;
$toothColorCoping: #D16198;
$toothColorAppliance: #5FC1AB;
$toothColorDefined1: #5C75E3;
$toothColorDefined2: #87AF63;
$toothColorDefined3: #BF649C;
$toothColorDefined4: #BF649C;
$toothColorAdditional: #E06783;
$toothIconInactive: #C5C5C5;

$toothNgSingle: #3A88D7;
$toothNgArch: #EF9C32;
$toothNgFull: #96CF4C;
$toothNgAdditional: #994B43;
$toothNgCrown: #3A88D7;
$toothNgBridge: #3A88D7;
$toothNgImplant: #AC79D7;
$toothNgRemovable: #EF9C32;
$toothNgAppliance: #5DC3AD;
$toothNgCoping: #CE5E96;
$toothNgUserDefined1: #979AED;
$toothNgUserDefined2: #B9B741;
$toothNgUserDefined3: #EB7C7C;
$toothNgUserDefined4: #77DDE6;

$slidePanelHeaderHeight: 100px;

$case-record-group1-height: 65px;

$border-radius: 3px;
$zIndexElevated: 100;
$zIndexOverrideKendo: 10010;
$zIndexOverrideParallel: 10020;
$zIndexNotification: 11000;

$popup-modal-default-padding: 33px;

$input-height: 32px;

$screen-xs-min: 320px;
$screen-xs-max: 479px;
$screen-sm-min: 480px;
$screen-sm-max: 768px;
$screen-md-min: 767px;
$screen-lg-min: 1180px;

// modal related styles
$modal-padding-lr: 25px;
