@page "/"

<div class="resp-container">
    <iframe class="resp-iframe" src="https://preview-ng.labstar.com:8100/pages/admin/case_flow_management/" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
</div>