.tooth_wrapper {
    fill: var(--ls-gray);
    color: black;
}

.tooth_number {
    fill: darkgrey;
    font-size: 1.5em;
}

.tooth_wrapper.crown > path {
    fill: var(--ls-blue);
}

.tooth_wrapper.type_implant > path {
    fill: var(--ls-purple);
}

.tooth_wrapper.crown > text, .tooth_wrapper.type_implant > text {
    fill: white;
}
